/* Reset default margin dan padding */


.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav {

     display: flex;
     align-items: center;
}

nav>a {
    border: 1px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: black;
}


.home-icon {

    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
}

/* memberikan style pada banner autoslide*/
.banner-img {
    
    border: 1px solid;
    height: 320px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;

}

.banner-1 {
    background-image: url(https://picsum.photos/700);
}

.banner-2 {
    background-image: url(https://picsum.photos/710);
}

.banner-3 {
    background-image: url(https://picsum.photos/740);
}

.content-header {
    text-align: center;
}



.main-container {
    display: flex;
    gap: 24px;
}

.main-item {
    flex: 1;
}
/* memebrikan style pada form */
form {
        background-color: aliceblue;
        align-content: center;
    text-align: center;
}

.our-packages-header {
    background-color: #F0FFF0;
    margin-top: 24px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.content {
    height: 100px;
    text-align: center;
    text-decoration-color: #239850;
}


footer{
margin-top: 24px;
text-align: center;
}
/*untuk menampilkan paket dalam tiga kolom di layar*/
.package-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 24px;
    text-align: center;
}

.package-item {
    background: #fff;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Menambahkan efek hover */
.package-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
/*untuk menampilkan ikon*/
.package-item .icon {
    font-size: 36px;
    margin-bottom: 12px;
    color: #007BFF;
}

.package-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.package-item p {
    font-size: 14px;
    color: #666;
}



@media only screen and (max-width: 480px) {
    .main-header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        flex-direction: column;
    }

    form {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

 